<%= form_with(model: user, local: true, :validate => true, :html => { :role => 'form', :multipart => true}) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field  :email, id: :user_email , autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= form.password_field :password, autocomplete: "off" , id: :user_password %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.datetime_select :date_of_birth, :start_year=>1990, id: :user_date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <span class="option">Male<span><%= form.radio_button :gender, "m" %></br>
    <span class="option">Female<span><%= form.radio_button :gender, "f" %></br>
  </div>

  <div class="field">
    <%= form.label :profile_picture %>
    <%= form.file_field :profile_picture, id: :user_profile_picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>